html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playGround {
    display: flex;
    width: 750px;
    justify-content: space-between;
}

#buttons {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#slidecontainer {
    margin-top: 3rem;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#squares {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

#generateSlider {
    margin: 0;
    width: 100%;
    height: 1.2rem;
    background-color: black;
    outline-color: none;
}

#generateSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: purple; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

h1 {
    font-size: 5rem;
    margin-top: 5rem;
}

#container {
    width: 500px;
    height: 500px;
    border: 2px solid rgba(0,0,0,0.5);
    margin-top: 5rem;
    display: grid;
}

button {
    margin-top: 4rem;
    width: 20rem;
    height: 5rem;
    color: white;
    background-color: black;
    font-size: 2.5rem;
    transition: linear all 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: purple;
}